<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="/styles/chatrooms.css">
</head>
<body>

<div id="chat-header" class="chat-header">
    <div class="child">
        <div class="profile-info">
            <div class="profile-image">
                <img src="/images/foreigner.jpg" alt="프로필 이미지">
            </div>
            <div class="profile-name">상대방 이름</div>
        </div>
    </div>
    <div class="child">
        <div class="profile-details">
            <span>생년월일: 상대방 생년월일</span>
            <span>비자타입: 상대방 비자타입</span>
            <span>언어: 상대방 언어</span>
            <span>외국인 거주증 여부: 상대방 외국인 거주증 여부</span>
        </div>
    </div>
</div>
<div id="chatRoomList">
    <div id="plusChatRoom" class="plusChatRoom"><span>+</span></div>
</div>

<script src="/js/client-chatrooms.js"></script>
</body>
</html>