<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상담원 로그인</title>
    <link rel="stylesheet" href="/styles/consultant-login.css">
</head>
<body>
<div class="container">
    <form id="loginForm">
        <h2>상담원 로그인</h2>
        <div class="input-group">
            <label for="employeeNumber">사원번호:</label>
            <input type="text" id="employeeNumber" name="employeeNumber" value="19970121" required>
        </div>
        <div class="input-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" value="123456789QUF!" required>
        </div>
        <button type="submit">로그인</button>
    </form>
</div>

<script src="/js/consultant-login.js"></script>
</body>
</html>