<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="/styles/chatrooms.css">
</head>
<body>

<div id="chat-header" class="chat-header">
    <div class="child">
        <div class="profile-info">
            <div class="profile-image"></div>
            <div class="profile-name"></div>
        </div>
    </div>
    <div class="child">
        <div class="consultant-details">
            <div class="introduce"></div>
            <div class="telNumber"></div>
        </div>
    </div>
</div>
<div id="chatRoomList"></div>

<script src="/js/consultant-chatrooms.js"></script>
</body>
</html>